html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire background */
    z-index: -1; /* Places the video behind the text */
}

h1 {
    font-size: 4rem;
    margin: 0;
}

p {
    font-size: 1.5rem;
    margin: 10px 0 0 0;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate {
    animation: fadeInUp 1.5s ease-in-out;
}

h1.animate {
    animation-delay: 0.5s; /* Delays for a staggered effect */
}

p.animate {
    animation-delay: 1s;
}

.container h1, p {
    background: rgba(200, 200, 200, 0.); /* Light transparent white */
    border-radius: 10px;
    padding: 20px 40px;
    backdrop-filter: blur(10px); /* Creates the frosted glass effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Optional border */
}

/* loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: white;
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
}

/* From Uiverse.io by satyamchaudharydev */ 
.spinner {
    --speed-of-animation: 0.9s;
    --gap: 6px;
    --first-color: #4c86f9;
    --second-color: #49a84c;
    --third-color: #f6bb02;
    --fourth-color: #f6bb02;
    --fifth-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 6px;
    height: 100px;
   }
   
   .spinner span {
    width: 4px;
    height: 50px;
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
   }
   
   .spinner span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
   }
   
   .spinner span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
   }
   
   .spinner span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
   }
   
   .spinner span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
   }
   
   @keyframes scale {
    0%, 40%, 100% {
     transform: scaleY(0.05);
    }
   
    20% {
     transform: scaleY(1);
    }
   }