<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Background Video</title>
    <link rel="stylesheet" href="{% static 'css/show.css' %}">
</head>
<body>
    <div class="loader">
        <div class="spinner">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
    </div>

    <section id="content">
        <div class="container">
            <h1 class="animate">MELODIFY</h1>
            <p class="animate">Lyrics Generator</p>
            <video autoplay muted loop id="background-video">
                <source src="{% static 'video/bc.mp4' %}" type="video/mp4">
                Your browser does not support the video tag. <!-- Add fallback content -->
            </video>
        </div>
    </section>    

    <script>
        // Function to handle initial display and then show the loader
        function handlePageTransition() {
            // Show the content initially
            document.querySelector('#content').style.display = 'block';

            // Show the loader after a delay
            setTimeout(function() {
                // Hide the initial content and show the loader
                document.querySelector('#content').style.display = 'none';
                document.querySelector('.loader').style.display = 'flex';

                // Redirect to the index page after a delay
                setTimeout(function() {
                    window.location.href = "{% url 'index' %}"; // Change 'index' to the name of your URL pattern for the index page
                }, 2000); // 2000 milliseconds = 2 seconds
            }, 5000); // 5000 milliseconds = 5 seconds
        }

        // Call the function when the page loads
        window.onload = handlePageTransition;
    </script>
</body>
</html>
