<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://kit.fontawesome.com/29a64d6504.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <section class="one"style="background-image: url('{% static 'img/login-bg.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh;">
        <div class="form-login">
            <h2>Login to Your Account</h2>
            <form id="loginForm" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            <div class="paragraph">
                <p>Don't have an account? <a href="{% url 'signup' %}" id="signUpLink">Sign up here</a></p>
            </div>
            <div class="icone">
                <i class="fa-brands fa-github" id="githubIcon"></i>
                <i class="fa-brands fa-x-twitter" id="twitterIcon"></i>
                <i class="fa-solid fa-g" id="googleIcon"></i>
            </div>
        </div>
        <div class="expression">
            <h1><span>#Create</span><span>#Sing</span><span>#Express</span></h1>
        </div>
    </section>
</body>
</html>
